* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  line-height: 1;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.6;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(209, 209, 209);
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
  line-height: 1;
}

ul {
  list-style: none;
}